<hr>
<div class="center row">
  <%= search_form_for @search, url: admins_questions_path do |f| %>
    <div class="col-md-3">
      <%= t "search.content" %>
      <%= f.text_field :content_cont, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= t "search.question_type" %>
      <%= f.select :question_type_eq, @question_types.collect{|k, v| [t(k), v]},
        {include_blank: t("all")}, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= t "search.subject" %>
      <%= f.collection_select :subject_id_eq, @subjects, :id, :content,
        {include_blank: t("all")}, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= t "search.status" %>
      <%= f.select :status_eq, @statuses.collect{|k, v| [t(k), v]},
        {include_blank: t("all")}, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <br>
      <%= f.submit t("search.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<hr>
