<div class="container">
  <h3><%= t "question.question", content: @question.content %></h3>
  <br/>
  <ul>
    <% if @question.text? %>
      <li><%= @question.answers.content %></li>
    <% else %>
      <% @question.answers.each do |answer| %>
        <div class = "checkbox">
          <label>
            <% if answer.is_correct? %>
              <%= check_box_tag answer.content, "yes", true %>
            <% else %>
              <%= check_box_tag answer.content %>
            <% end %>
            <%= answer.content %>
          </label>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
