<tr>
  <td class="center"><%= l exam.created_at, format: :default %></td>
  <td class="center"><%= exam.subject.content %></td>
  <td class="center">
    <span class="label label-<%= class_for_label exam.status %>">
      <%= exam.status %>
    </span>
  </td>
  <td class="center"><%= exam.subject.duration %></td>
  <td class="center"><%= exam.subject.number_of_questions %></td>
  <td class="center"><%= exam.spent_time %></td>
  <td class="center"><%= exam.checked? ? exam.score : "--" %></td>
</tr>
