<%= form_for [:users, @exam] do |f| %>
  <ol>
    <%= f.fields_for :results do |ff| %>
      <li><%= ff.object.question.content %></li>
      <br/>
      <% case ff.object.question.question_type %>
      <% when Settings.questions.multiple_choice %>
        <% ff.object.question.answers.each do |answer| %>
          <%= ff.check_box :answer_ids,
            {checked: ff.object.answer_ids.include?(answer.id.to_s),
            multiple: true, disabled: state}, answer.id, false %>
          <%= answer.content %><br/>
        <% end %>
      <% when Settings.questions.single_choice %>
        <%= ff.collection_radio_buttons :answer_id, ff.object.question.answers,
          :id, :content, {}, {disabled: state} do |rb| %>
            <%= rb.label(class: "radio") {rb.radio_button + rb.text} %>
        <% end %>
      <% when Settings.questions.text %>
        <%= ff.fields_for :text_answer do |fff| %>
          <%= fff.text_area :content, readonly: state, class: "form-control" %>
        <% end %>
      <% end %>
      <% if f.object.checked? %>
        <span class="label label-<%= result_label ff.object %>">
          <%= ff.object.is_correct? ? t("result.correct") : t("result.incorrect") %>
        </span>
      <% end %>
      <hr/>
    <% end %>
  </ol>
  <% unless state %>
    <%= f.submit t("exam.buttons.save"), class: "btn btn-primary btn-submit
      col-md-4" %>
    <%= f.submit t("exam.buttons.finish"),
      class: "btn btn-danger btn-submit pull-right", name: 'finish',
      data: {confirm: t("exam.warning_finish")} %>
  <% end %>
<% end %>
<div class="text-center">
  <%= link_to t("exam.buttons.back_to_all"), users_exams_path,
    class: "btn btn-default" %>
</div>
