<hr>
<div class="center row">
  <%= search_form_for @search, url: admins_suggested_questions_path do |f| %>
    <div class="col-md-3">
      <%= t "search.user.name" %>
      <%= f.text_field :user_name_cont, class: "form-control" %>
    </div>

    <div class="col-md-3">
      <%= t "search.subject" %>
      <%= f.collection_select :question_subject_id_eq, @subjects,
        :id, :content, {include_blank: t("all")}, class: "form-control" %>
    </div>

    <div class="col-md-1">
      <%= t "search.status" %>
      <%= f.select :question_status_eq, @statuses.collect {|key, value|
        [t(key), value]}, {include_blank: t("all")} %>
    </div>

    <div class="col-md-2">
      <%= f.submit t("search.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<hr>
