<% provide :title, t("admin.all_users") %>
<div class="row">
  <h1><%= t "admin.all_users" %></h1>
  <%= render "admins/users/search_form" %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "user.name" %></th>
        <th class="center"><%= t "user.email" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="center"><%= user.name %></td>
          <td class="center"><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>
