<% provide :title, t("subject.all_subject") %>
<h1><%= t "subject.all_subject" %></h1>
<hr/>
<%= link_to t("subject.new_subject"), new_admins_subject_path,
  class: "btn btn-success icon-trash icon-white" %>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th><%= t "subject.subject" %></th>
      <th><%= t "subject.number_of_questions" %></th>
      <th><%= t "subject.duration" %></th>
      <th colspan="2"><%= t "subject.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @subjects %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @subjects %>
</div>
