<% provide :title, t("user.your_questions") %>
<h1><%= t "user.your_questions" %></h1>
<hr />
<%= link_to t("question.new_question"), new_users_question_path,
  class: "btn btn-success icon-trash icon-white" %>
<%= render "search_question_form" %>
<table class="table">
  <thead>
    <tr>
      <th><%= t "question.content" %></th>
      <th><%= t "question.question_type" %></th>
      <th><%= t "question.subject" %></th>
      <th><%= t "question.status" %></th>
      <th colspan="2"><%= t "subject.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @questions %>
  </tbody>
</table>
<%= paginate @questions %>
