<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t :number %>
      <%= f.index + 1 %>:
      <%= f.object.question.content %>
    </h3>
  </div>

  <div class="row">
    <div class="col-md-3">
      <% if f.object.is_correct? %>
        <p class="label label-primary">
        <%= t "result.correct" %>
      <% else %>
        <p class="label label-danger">
        <%= t "result.incorrect" %>
      <% end %>
      </p>
    </div>
    <div class="col-md-3">
      <%= f.select :is_correct, Settings.bollean.map {|k, v| [t(k), k]},
        {include_blank: false}, class: "form-control" %>
    </div>
  </div>

  <div>
    <% f.object.question.answers.each do |answer| %>
      <div class="radio">
        <% if f.object.question.single_choice? ||
          f.object.question.multiple_choice? %>
          <%= f.radio_button :answer_id, answer.id, disabled: true %>
          <label>
            <%= background_for answer, f.object %>
          </label>
        <% else %>
          <label>
            <%= t "result.user_answer" %>
            <%= f.object.text_answer.content %>
            <br>
            <span class="list-group-item-success">
              <%= t "result.answer_correct" %>
              <%= answer.content %>
            </span>
          </label>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
