<h1><%= t "admin.menu" %></h1>
<ul class="nav hidden-xs" id="lg-menu">
  <li class="list-group-item border-none">
    <%= link_to t("admin.users"), admins_users_path %>
  </li>
  <li class="list-group-item border-none">
    <%= link_to t("admin.exams"), admins_exams_path %>
  </li>
  <li class="list-group-item border-none">
    <%= link_to t("admin.subjects"), admins_subjects_path %>
  </li>
  <li class="list-group-item border-none">
    <%= link_to t("admin.questions"), admins_questions_path %>
  </li>
  <li class="list-group-item border-none">
    <%= link_to t("admin.suggested_question"),
      admins_suggested_questions_path %>
  </li>
</ul>
