<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:logo), users_root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:home), users_root_path %></li>
        <li><%= link_to t(:help), help_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("user.edit"), edit_user_registration_path %>
              </li>
              <li><%= link_to t("user.all_exams"), users_exams_path %></li>
              <li><%= link_to t(:contribute), users_questions_path %></li>
              <li>
                <%= link_to t("user.log_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "user.name_class" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("user.login"), new_user_session_path %>
              </li>
              <li>
                <%= link_to t("user.sign_up"), new_user_registration_path %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
